<div innerHtml="html">
    <div class="container">
        <json-schema-form
            #jsonForm
            [loadExternalAssets]="true"
            [schema]="schema"
            [layout]="layout"
            [widgets]="productWidgets"
            [model]="model"
            framework="no-framework"
            [options] = "options"
            >
        </json-schema-form>
        <div class="w-100 m-auto text-center">
            <button class="btn btn-primary w-25 align-self-center font-weight-bold" (click)="onSubmit()">Submit</button>
        </div>
    </div>
</div>
